<app-content-header
    class="datamodel-create__content-header"
    title="Data Model Create"
></app-content-header>
<div class="datamodel-create__content">
    <form
        [formGroup]="datamodelFormGroup"
        class="datamodel-create__content-form"
    >
        <div class="datamodel-create__items">
            <div class="datamodel-create__items-left">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <input
                        matInput
                        formControlName="description"
                        required
                    />
                </mat-form-field>
            </div>

            <div class="datamodel-create__items-right">
                <mat-button-toggle-group value="code" #outputTypes="matButtonToggleGroup">
                    <mat-button-toggle value="code">
                        <mat-icon>code</mat-icon>
                        Code based
                    </mat-button-toggle>
                    <mat-button-toggle value="ui">
                        <mat-icon>table_rows</mat-icon>
                        UI based
                    </mat-button-toggle>
                </mat-button-toggle-group>

                <ngx-monaco-editor
                    *ngIf="outputTypes.value === 'code'"
                    formControlName="code"
                    [options]="editorOptions"
                    style="height: 400px"
                ></ngx-monaco-editor>
                <div *ngIf="outputTypes.value === 'ui'">
                    <h1>Dynamic JSON Schema Builder</h1>

                    <app-schema-node-editor [field]="root" [depth]="0"></app-schema-node-editor>

                    <button mat-raised-button color="primary" (click)="generateSchema()" class="mt-4">
                        Generate Schema
                    </button>

                    <mat-card class="mt-4">
                        <h3>Generated Schema:</h3>
                        <pre>{{ schemaOutput | json }}</pre>
                    </mat-card>
                </div>
            </div>
        </div>
    </form>

    <div class="datamodel-create__footer">
        <button
            class="datamodel-create__footer-cancel"
            mat-raised-button
            color="warn"
            (click)="cancel()">
            Cancel
        </button>

        <button
            class="datamodel-create__footer-save"
            mat-raised-button
            color="primary"
            (click)="saveDatamodel()"
            [disabled]="!datamodelFormGroup.valid">
            Save
        </button>
    </div>

</div>
