<div class="pl-4" [style.margin-left.px]="depth * 20">
    <div class="flex items-center gap-2 mb-2">
        <!-- Key input and Required checkbox (for object properties) -->
        <ng-container *ngIf="field.key !== undefined">
            <mat-form-field appearance="outline" class="w-32">
                <mat-label>Key</mat-label>
                <input
                    matInput
                    [(ngModel)]="field.key"
                    (ngModelChange)="onKeyChange(oldKey, $event)"
                />
            </mat-form-field>

        </ng-container>

        <!-- Type selector -->
        <mat-form-field appearance="outline" class="w-32">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="field.type">
                <mat-option value="object">object</mat-option>
                <mat-option value="array">array</mat-option>
                <mat-option value="string">string</mat-option>
                <mat-option value="number">number</mat-option>
                <mat-option value="integer">integer</mat-option>
                <mat-option value="boolean">boolean</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-checkbox *ngIf="depth > 0" [(ngModel)]="field.required">Required</mat-checkbox>


        <!-- Description -->
        <mat-form-field appearance="outline" class="w-64" *ngIf="isDescriptionFeatureEnabled">
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="field.description" />
        </mat-form-field>

        <!-- Delete icon (except for root node) -->
        <button
            mat-icon-button
            color="warn"
            (click)="remove.emit()"
            *ngIf="depth > 0"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <!-- If type is object, render its properties -->
    <div *ngIf="field.type === 'object'">
        <div *ngFor="let item of field.properties | keyvalue">
            <app-schema-node-editor
                [field]="field.properties![item.key]"
                [key]="item.key"
                [depth]="depth + 1"
                (remove)="removeProperty(item.key)"
                (keyChange)="onKeyChange(item.key, $event)"
            ></app-schema-node-editor>
        </div>

        <!-- Add new property -->
        <button mat-icon-button color="primary" (click)="addProperty()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <!-- If type is array, render item schema -->
    <div *ngIf="field.type === 'array'" class="pl-4">
        <app-schema-node-editor

            [depth]="depth + 1"
        ></app-schema-node-editor>
    </div>
</div>
