<div class="dashboard__container-header">
    <h2>Dashboard</h2>
    <div class="dashboard__container-header-buttons">
        @if (!isLocked) {
            <button
                mat-mini-fab
                (mousedown)="removeAll($event)"
                (touchstart)="removeAll($event)"
            >
                <mat-icon>delete</mat-icon>
            </button>

            <button
                mat-mini-fab
                (click)="addItem()"
                class="add-button cols-2"
            >
                <mat-icon>add</mat-icon>
            </button>
        }

        <div class="dashboard__container-header-buttons-locks">
            <a
                class="dashboard__container-header-buttons-locks-button"
                mat-raised-button
                (click)="onLockButtonClick()"
            >
                <ng-container *ngIf="!isLocked; else lockedTpl">
                    <mat-icon>lock_open</mat-icon>
                    <span>Lock grid</span>
                </ng-container>
                <ng-template #lockedTpl>
                    <mat-icon>lock</mat-icon>
                    <span>Unlock grid</span>
                </ng-template>
            </a>
        </div>
    </div>
</div>

<gridster [options]="options" class="dashboard__container-content">
    @for (item of dashboard; track item.label) {
        <gridster-item [item]="item">
            <div class="button-holder">
                @if (item.hasContent) {
                    <div class="gridster-item-content">
                        <div class="stuff">
                            <span>Some content to select and click without dragging the widget</span>
                            <a href="https://www.google.com" target="_blank">Link to Google</a>
                        </div>
                    </div>
                    <div class="item-buttons">
                        <button mat-icon-button mat-raised-button class="drag-handler">
                            <mat-icon>open_with</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            mat-raised-button
                            class="remove-button"
                            (mousedown)="removeItem($event, item)"
                            (touchstart)="removeItem($event, item)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                } @else {
                    <label>{{ item.label }}</label>
                    @if (!isLocked) {
                        <button
                            class="dashboard__container-content-button"
                            mat-mini-fab
                            (mousedown)="removeItem($event, item)"
                            (touchstart)="removeItem($event, item)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    }
                }
            </div>
        </gridster-item>
    }
</gridster>
