.dashboard {
  &__container {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: .5rem;
      height: 3rem;

      h2 {
        margin: 0;
      }

      &-buttons {
        display: flex;
        align-items: center;
        height: 3rem;

        > button {
            margin: 0 .5rem;

            &:last-of-type {
              margin-right: 0
            }
        }

        &-locks {
          margin-left: 1rem;

          &-button {
            width: 8rem;
            display: flex;

            mat-icon {
              margin-right: .5rem;
            }
          }
        }
      }
    }

    &-content {

      &-button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}


