<mat-toolbar class="content-header--container">
    <span>{{ title }}</span>

    <div class="content-header--buttons">
        @for (button of buttons; track button.text) {
            <button
                (click)="button.action()"
                class="content-header--buttons-item"
                mat-raised-button
                [color]="button.color"
            >
                @if (button.icon) {
                    <mat-icon>{{ button.icon }}</mat-icon>
                }
                @if (button.text) {
                    <span>{{ button.text }}</span>
                }
            </button>
        }
    </div>
</mat-toolbar>

<mat-divider></mat-divider>
